---
name: deploy-dbt

on:
  pull_request:
    branches: [ main ]

  push:
    branches:
      - add-dbt-docs-hosting

  workflow_dispatch:

jobs:
  dbt-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

#      - name: Python Setup
#        uses: actions/setup-python@v4
#        with:
#          python-version: '3.9'
#
#      - name: Install dbt
#        run: |
#          python -m pip install --upgrade pip
#          pip install dbt-duckdb
#          pip install duckdb
#
#      - name: Install dbt dependencies
#        run: dbt deps --profiles-dir .
#
#      - name: Create mock database
#        run: python -c "import duckdb; con = duckdb.connect('/src/billiam.duckdb'); con.close()"
#
#      - name: Compile dbt docs
#        run: dbt docs generate --profiles-dir .

      - name: Deploy dbt docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target
